---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/video-recuerdo1.png'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Regala algo diferente, con nuetros <strong>productos musicales</strong> destacaras</h2>
			
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Serenatas virtuales"
				subtitle="Stay on top of your tasks and deadlines with our intuitive project management tool. Visualize progress, assign tasks, and collaborate seamlessly."
				image={feature02}
				link="/web-marcela/pricing"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Video recuerdos "
				subtitle="Stay on top of your tasks and deadlines with our intuitive project management tool. "
				image={feature02}
				link="/web-marcela/pricing"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Serenatas en vivo"
				subtitle="Build and nurture customer relationships with our powerful CRM system. "
				image={feature02}
				link="/web-marcela/pricing"
			/>
		</Col>
	</Row>
</Section>
