---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/serenata- virtual1.png'
import feature02 from '../../../assets/video-recuerdo1.png'
import feature03 from '../../../assets/serenata-vivo1.png'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Regala algo diferente, con nuetros <strong>productos musicales</strong> destacaras</h2>
			
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Serenatas virtuales"
				subtitle="Emociona a tus seres queridos con una serenata en video llamada por WhatsApp, llena de amor y música en directo."
				image={feature01}
				link="/web-marcela/pricing"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Video recuerdos "
				subtitle="Regala emociones eternas con un video personalizado, acompañado de una canción especial, perfecto para sorprender en cualquier ocasión."
				image={feature02}
				link="/web-marcela/pricing"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Serenatas en vivo"
				subtitle="Vivo cada nota contigo, llevando música y emociones al lugar que elijas para momentos inolvidables."
				image={feature03}
				link="/web-marcela/pricing"
			/>
		</Col>
	</Row>
</Section>
