---
// Contact Hero Section
// ------------
// Description: A hero section with a contact form

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Form from '../contact/BasicForm.astro'
import Card from '../../ui/cards/BasicCard.astro'

// Props
type Props = {
	id?: string
	title?: string
	text?: string
	classes?: string
}
const { id, title, text, classes } = Astro.props
---

<Section id={id} classes={classes}>
	<Row>
		<Col span="6" classes={`self-center`}>
			<header class="max-w-xl">
				<h1 set:html={title} />
				<p class="text-lg leading-relaxed">{text}</p>
			</header>

			<Row>
				<Col span="6">
					<Card
						title="Whatsapp"
						subtitle="+57 311 501 9914"
						icon="whatsapp"
						classes="text-center dark:!bg-neutral-800/50"
						link="https://wa.me/573115019914"
					/>
				</Col>
				<Col span="6">
					<Card
						title="Facebook "
						subtitle="/marcela.londono.961"
						icon="fb-icon"
						classes="text-center dark:!bg-neutral-800/50"
						link="https://www.facebook.com/marcela.londono.961"
					/>
				</Col>
				<Col span="6">
					<Card
						title="Email"
						subtitle="marcela_londos@hotmail.com"
						icon="email"
						classes="text-center dark:!bg-neutral-800/50"
						link="mailto:marcela_londos@hotmail.com"
					/>
				</Col>
				<Col span="6" classes="flex flex-col gap-6">
					<Card
						title="Instagram"
						subtitle="@marce_canta"
						icon="instagram"
						classes="text-center dark:!bg-neutral-800/50"
						link="https://www.instagram.com/marce_canta"
					/>
				</Col>
			</Row>

		</Col>
		<Col span="6" classes="relative">
			<Form classes="max-w-xl" />
		</Col>
	</Row>
</Section>
